body {
    font-family: Arial, sans-serif;
    background-color: #131313; /* Dark background */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(48, 48, 48);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.video {
    margin: 20px 0;
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


.logo {
    margin-bottom: 20px;
    padding-left: 100px;
    position: absolute;
    top: 30px;
    left: 40px;
}

.logo img {
    width: 170px; /* Smaller logo */
}

.search {
    margin: 0 20px; /* Center the search bar */
    width: 50%; /* Set width of the search bar */
    height: 50px; /* Adjusted height */
    position: absolute;
    top: 30px; /* Adjust position as needed */
    border-radius: 25px; /* Rounded corners */
    background-color: #fff; /* White background for the search bar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow */
    display: flex; /* Flexbox for centering input */
    align-items: center; /* Center input vertically */
    padding: 0 20px; /* Horizontal padding */
}

.search input {
    width: 100%; /* Full width of the search bar */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    font-size: 16px; /* Font size for input text */
    color: #333; /* Text color */
}

.search input::placeholder {
    color: #999; /* Placeholder text color */
    opacity: 1; /* Ensure the placeholder is visible */
}

